body {
    margin: 0;
    padding: 0;
}
.App {
    padding: 20px;
}
.background {
    background: url(assets/background/stars.png) repeat top center #000;
}
.flickering {
    background: url(assets/background/twinkling.png) repeat top center;
    animation: move-twinking 1000s linear infinite;
}
@keyframes move-twinking {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -10000px 5000px;
    }
}
.background, .flickering {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.logo p {
    margin: 0;
    font-size: 4em;
    color: #FFDE06;
    font-family: jedi-outline;
    line-height: 1;

}
